.env
__pycache__
chest_xray
.vscode
features
*.npy
*.png
!results/*.npy

*.log
*.aux
*.out
*.toc
*.gz
*.blg
*.bbl
*.synctex.gz
*.fdb_latexmk
*.fls
*.lof
*.lot
*.lol
*.run.xml
*.bcf
*.xml
*.nav
*.snm
*.bcf*
*.equ
*.ps
!docs/soc.tex
!docs/literatura.bib
.opencode